Repository jenn-charland/demo-anthos-acm, changes with the labels that .github/labeler.yml gives for each.
All labels: cluster_change, namespace_change, registry_change, doc_change

Network Policy, Logging demo
  config-management/cluster/netpol/default-logging-policy.yaml
  config-management/namespaces/application-namespace/namespace.yaml
  config-management/namespaces/application-namespace/starwars.yaml
  config-management/namespaces/default/namespace.yaml
  network-policy.yaml
Labels: cluster_change, namespace_change

network policy testing
  config-management/namespaces/default/starwars.yaml
Labels: namespace_change

adjust namespaces
  config-management/namespaces/alliance/namespace.yaml
  config-management/namespaces/alliance/starwars.yaml
  config-management/namespaces/default/starwars.yaml
  config-management/namespaces/empire/namespace.yaml
  config-management/namespaces/empire/starwars.yaml
Labels: namespace_change

update cloudbuild
  buildfiles/cloudbuild.yaml
Labels: none

update cloudbuild
  buildfiles/cloudbuild.yaml
Labels: none

fix workspace typo
  buildfiles/cloudbuild.yaml
Labels: none

fix cloud build definition
  buildfiles/cloudbuild.yaml
Labels: none

windows pods!
  config-management/namespaces/windows-workload/iis-workload.yaml
  config-management/namespaces/windows-workload/namespace.yaml
Labels: namespace_change

move out demo app
  alliance/namespace.yaml
  alliance/starwars.yaml
  config-management/namespaces/alliance/starwars.yaml
Labels: namespace_change

tune
  config-management/namespaces/default/namespace.yaml
  config-management/namespaces/kube-system/namespace.yaml
  config-management/namespaces/kube-system/service-account.yaml
Labels: namespace_change

demo-files folder
  demo-files/alliance/namespace.yaml
  demo-files/alliance/starwars.yaml
  demo-files/network-policy.yaml
Labels: none

fix ns exceptions
  config-management/cluster/constraints/c-ns-mandatory-labels.yaml
Labels: cluster_change

fix label exceptions
  config-management/cluster/constraints/c-ns-mandatory-labels.yaml
Labels: cluster_change

re-add ns
  config-management/namespaces/default/namespace.yaml
  config-management/namespaces/kube-system/namespace.yaml
Labels: namespace_change

alliance
  config-management/namespaces/alliance/namespace.yaml
  config-management/namespaces/alliance/starwars.yaml
Labels: namespace_change

.github/labeler.yml:

cluster_change:
  - config-management/cluster/**/*

namespace_change:
  - config-management/namespaces/**/*

registry_change:
  - config-management/clusterregistry/*

doc_change:
 - ./*.md
